body {
  max-width: 1440px;
  min-width: 375px;
  margin: 0 auto;
}


/* Front page */

.front-page {
  background-image: url(../img/front-page.jpg);
  height: 800px;
}


/* Navigation */

.front__nav {
  font-size: 18px;
  /* Разобраться с адаптивным размером */
  font-family: sans-serif;
  font-weight: 500;
  background-color: rgb(56, 50, 50);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


/* Пояснить зачем это?! */

.front__nav :after {
  content: "";
  clear: both;
}

.front__nav>ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.front__nav ul li a {
  text-decoration: none;
  line-height: 80px;
  padding: 0 40px;
  letter-spacing: 1px;
  color: #f0f8ff;
}


/* label img */


/* FIX POSITION WITH RELATIVE */

.label-img {
  position: relative;
  left: 48%;
  top: 5%;
  transform: translate(-50%, -50%);
  width: 120px;
}


/* Front__info */

.front__info {
  margin-top: 100px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: space-between;
}

.front__work-time {
  color: #ffffff;
  writing-mode: tb-rl;
  transform: rotate(180deg);
  margin-left: 40px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
}

.front__cook-name {
  color: #ffffff;
  text-align: center;
}

.cook-first-name {
  margin-top: 40px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}

.cook-second-name {
  font-size: 56px;
  text-transform: uppercase;
  margin: 20px;
}

.front__cook-separator {
  margin: 30px auto;
  text-align: center;
  width: 100px;
  border: 3px solid #e8c300;
  border-radius: 3px;
}

.front__cook-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 60px;
  text-transform: uppercase;
}


/* Get also :HOOVER */

.front__cook-buttons a {
  text-decoration: none;
  letter-spacing: 1px;
  color: #f0f8ff;
}


/* Go on! */

.front__cook-button-left,
.front__cook-button-right {
  width: 200px;
  height: 60px;
  margin: 20px;
}

.front__cook-button-left {
  background-color: #e8c300;
  border-radius: 5px;
}

.front__cook-button-right {
  border: 1px solid rgba(236, 198, 198, 0.8);
}

.front__socials {
  margin: 20px;
}

.front__socials div {
  margin: 60px;
}

.skip-button {
  position: relative;
  left: 43.5%;
}


/* About us section */

.about-us {
  max-height: 800px;
  background-color: #ebebebbb;
  /* margin: 5% 0; */
}

.about-us__section {
  text-align: center;
  max-height: 475px;
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.about-us__info {
  max-height: 250px;
  max-width: 600px;
}

.about-us__info h2 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2em;
  margin: 0;
}

.about-us__separator {
  margin: 15px auto;
  text-align: center;
  width: 50px;
  border: 2px solid #e8c300;
  border-radius: 2px;
}

.about-us__headline {
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 5%;
}

.about-us__img {
  margin: 5%;
  max-height: 400px;
  max-width: 400px;
  height: 80%;
  box-shadow: 5px 5px 10px 10px rgba(179, 155, 155, 0.753);
  /* filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5)); */
}


/* OUR TEAM */

.team {
  max-height: 800px;
  background-image: url(../img/team-background.jpg);
  /* margin: 5% 0; */
  color: #ffffff;
}

.team>h3 {
  margin: 0;
  padding: 3% 0 0 0;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  font-size: 1.2em;
  line-height: 1.2em;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.3em;
}

.team__section {
  text-align: center;
  /* max-height: 475px; */
  padding: 0 3% 3% 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.team__info {
  max-height: 250px;
  max-width: 600px;
}

.team__info h2 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2em;
  margin: 0;
}

.team__separator {
  margin: 15px auto;
  text-align: center;
  width: 50px;
  border: 2px solid #e8c300;
  border-radius: 2px;
}

.team__headline {
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 5%;
}

.team__img {
  margin: 5%;
  max-height: 400px;
  max-width: 400px;
  height: 80%;
  box-shadow: 5px 5px 10px 10px rgba(179, 155, 155, 0.753);
  /* filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5)); */
}


/* BOOK A CANDIE */

.book-candie {
  max-height: 800px;
  background-color: #ebebebbb;
  /* margin: 5% 0; */
}

.book-candie__section {
  text-align: center;
  max-height: 475px;
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.book-candie__info {
  max-height: 250px;
  max-width: 600px;
}

.book-candie__info h2 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2em;
  margin: 0;
}

.book-candie__separator {
  margin: 15px auto;
  text-align: center;
  width: 50px;
  border: 2px solid #e8c300;
  border-radius: 2px;
}

.book-candie__form {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  align-items: center;
  align-content: center;
}


/* .form__left {
}
.form__right {
} */

.book-candie__img {
  margin: 5%;
  max-height: 400px;
  max-width: 400px;
  height: 80%;
  box-shadow: 5px 5px 10px 10px rgba(179, 155, 155, 0.753);
  /* filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5)); */
}


/* CAROUSEL PRODUCTS */


/* Slideshow container */

.carousel-container-box {
  max-width: 1440px;
  max-height: 800px;
  background-image: url(../img/team-background.jpg);
  padding-bottom: 2%;
}

.carousel-container {
  max-width: 1200px;
  /*Deal with it ?*/
  max-height: 600px;
  position: relative;
  margin: 0 auto;
}

.carousel__specials {
  color: #ffffff;
  display: block;
  text-align: center;
  padding: 3% 0 3% 0;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-family: sans-serif;
}


/* Hide the images by default */

.carousel__slide {
  display: none;
  max-height: auto;
  height: 100%;
}

.carousel__slide__number {
  color: #f2f2f2;
  font-size: 0.75em;
  padding: 2% 1.5%;
  position: absolute;
}

.carousel__slide__img {
  width: 100%;
  max-width: 1200px;
  max-height: 600px;
  /*Chek this dimension with designer*/
}

.carousel__slide__text {
  font-size: 1.5em;
  /* padding: 1% 2%; */
  position: absolute;
  bottom: 5%;
  width: 100%;
  text-align: center;
  
  cursor: pointer;
  text-shadow: -1px -1px #FFF,
               -2px -2px #FFF,
               -1px 1px #FFF,
               -2px 2px #FFF,
               1px 1px #FFF,
               2px 2px #FFF,
               1px -1px #FFF,
               2px -2px #FFF,
               -3px -3px 2px #BBB,
               -3px 3px 2px #BBB,
               3px 3px 2px #BBB,
               3px -3px 2px #BBB;
  color: steelblue;
  transition: all 1s;
}

@media all and (max-width: 1200px) {
  .carousel__slide__text{
    bottom: 10%;
  }
}

@media all and (max-width: 769px) {
  .carousel__slide__text{
    bottom: 15%;
  }
}

@media all and (max-width: 426px) {
  .carousel__slide__text{
    bottom: 20%;
  }
}

.carousel__slide__text:hover {
  color: yellowgreen;
}

/* Need to make description of carousel names of slides */
/* .carousel__slide__description {
  color: steelblue;
  font-size: 1em;
  position: absolute;
  bottom: 45px;
  width: 100%;
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
} */


/* Next & previous buttons */

.carousel__prev,
.carousel__next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.carousel__next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.carousel__prev:hover,
.carousel__next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel__dots {
  text-align: center;
}

.carousel__dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.carousel__dot:hover {
  background-color: #717171;
}


/* Fading animation */

.carousel__fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes carousel__fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes carousel__fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.menu-wrapper {
   background-color: #ebebebbb;
}

.menu-wrapper-title {
   max-width: 600px;
   margin: 0 auto;
   padding-top: 5%;
   text-align: center;
}

@media all and (max-width: 1025px) {
   .menu-wrapper-title {
      max-width: 450px;
   }
}

@media all and (max-width: 769px) {
   .menu-wrapper-title {
      max-width: 400px;
   }
}

@media all and (max-width: 426px) {
   .menu-wrapper-title {
      max-width: 300px;
   }
}

.menu-wrapper-title > h2 {
   font-family: sans-serif; /*Banny!*/
   text-transform: uppercase;
   font-style: italic;
   font-size: 2em;
   letter-spacing: 2px;
   margin: 0;
}

@media all and (max-width: 1025px) {
   .menu-wrapper-title > h2 {
      font-size: 1.5em;
      letter-spacing: 1.5px;
   }
}

@media all and (max-width: 769px) {
   .menu-wrapper-title > h2 {
      font-size: 1.25em;
      letter-spacing: 1px;
   }
}

@media all and (max-width: 426px) {
   .menu-wrapper-title > h2 {
      font-size: 1em;
      letter-spacing: 0.75px;
   }
}

.separator {
   margin: 15px auto;
   text-align: center;
   width: 50px;
   border: 2px solid #e8c300;
   border-radius: 2px;
}

.menu-wrapper-info {
   font-family: sans-serif;
   font-weight: 600;
   font-size: 1.25em;
   max-height: 50px;
   overflow: auto;
   margin-bottom: 0;
}

@media all and (max-width: 1025px) {
   .menu-wrapper-info {
      font-size: 1em;
      max-height: 40px;
   }
}

@media all and (max-width: 426px) {
   .menu-wrapper-info {
      font-size: 0.75em;
      max-height: 30px;
   }
}

.menu-wrapper__main {
   padding: 3%;
   display: flex;
   justify-content: space-between;
}

.menu-wrapper__section {
   max-width: 28%;
}

.menu-wrapper__section__general {
   margin: 5% auto;
   padding: 5%;
}

.menu-wrapper__section__product {
   display: block;
   text-transform: uppercase;
   font-family: sans-serif; /*Change!*/
   font-size: 1.2em;
   font-weight: 600;
}

@media all and (max-width: 1025px) {
   .menu-wrapper__section__product {
      font-size: 1em;
   }
}

@media all and (max-width: 426px) {
   .menu-wrapper__section__product {
      font-size: 0.75em;
      text-align: center;
      color: darkblue;
   }
}

.menu-wrapper__section__product-description {
   color: rgb(130, 130, 130);
   font-family: Arial, Helvetica, sans-serif;
}
