.gallery-fun {
   max-width: 1440px;
   margin: 0 auto;
   background-image: url(../img/team-background.jpg);
   color: #ffffff;
}

.gallery-fun__wrapper {
   max-width: 1200px;
   margin: 0 auto;
   padding: 5%;
}

.gallery-fun__block {
   display: flex;
   justify-content: space-between;
   margin-bottom: 10px;
   overflow: hidden;
   max-height: 610px;
}

@media all and (max-width: 560px) {
   .gallery-fun__block {
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 5px;
      max-height: none;
   }
}

.gallery-fun__block-1 {
   margin-right: 10px;
   width: 65%;
   overflow: hidden;
}

@media all and (max-width: 560px) {
   .gallery-fun__block-1 {
      width: 100%;
      margin: 0;
   }
}

.block-1__top {
   display: flex;
   justify-content: space-between;
   margin-bottom: 10px;
   position: relative;
   overflow: hidden;
}

.gallery-fun__block__img-1 {
   width: 100%;
   max-width: 49%;
   max-height: 300px;
   object-fit: cover;
}

@media all and (max-width: 560px) {
   .block-1__top {
      width: 100%;
      flex-wrap: wrap;
      margin-bottom: 5px;
   }
}

@media all and (max-width: 560px) {
   .gallery-fun__block__img-1 {
      max-width: none;
      max-height: 180px;
   }
   .gallery-fun__block__img-1-first {
      margin-bottom: 5px;
   }
}

@media all and (max-width: 360px) {
   .gallery-fun__block__img-1 {
      max-height: 160px;   
   }
}

.block-1__bot {
   padding: 0 0 50% 0;
   position: relative;
   overflow: hidden;
   max-height: 300px;
}

@media all and (max-width: 560px) {
   .block-1__bot {
      margin-bottom: 5px;
   }
}

.gallery-fun__block__img-2 {
   width: 100%;
   height: 100%;
   max-height: 300px;
   object-fit: cover;
   position: absolute;
}

.gallery-fun__block-2 {
   width: 35%;
   overflow: hidden;
   position: relative;
}

@media all and (max-width: 560px) {
   .gallery-fun__block-2 {
      padding: 0 0 50% 0;
      width: 100%;
   }
}

.gallery-fun__block__img-3 {
   width: 100%;
   height: 100%;
   max-height: 610px;
   object-fit: cover;
   position: absolute;
}

.gallery-fun__block-footer {
   max-height: 400px;
}

.gallery-fun__block-3 {
   padding: 0 0 50% 0;
   max-height: 400px;
   overflow: hidden;
   position: relative;
}

.gallery-fun__block__img-4 {
   width: 100%;
   height: 100%;
   max-height: 400px;
   object-fit: cover;
   position: absolute;
}
