.form-contact {
   max-width: 1400px;
   max-height: 750px;
   margin: auto;
   border: 2px solid black;
   background-color: #ebebebbb;
}

.contact__container {
   max-width: 1280px;
   max-height: 450px;
   margin: 5% auto;
}

.contact__container>h3 {
   text-align: center;
   text-transform: uppercase;
   font-size: 2em;
   font-style: italic;
   letter-spacing: 2px;
   /* Banny */
   font-family: sans-serif;
   margin: 0;
}

.contact__separator {
   margin: 15px auto;
   text-align: center;
   width: 50px;
   border: 2px solid #e8c300;
   border-radius: 2px;
}

.contact__descriptor {
   display: block;
   margin: auto;
   margin-bottom: 3%;
   text-align: center;
   font-size: 1.25em;
   max-width: 565px;
   max-height: 50px;
   overflow: auto;
}

.contact__input-block {
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-height: 50px;
   margin-bottom: 1%;
}

.contact__input {
   padding: 0;
   border: 1px solid #c0c0c0;
   border-radius: 3%;
   background-color: #E5E5E5;
   width: 32%;
   height: 40px;
   font-size: 1em;
}

.contact__area {
   padding: 0;
   border: 1px solid #c0c0c0;
   border-radius: 3%;
   background-color: #E5E5E5;
   width: 100%;
   height: 80px;
   font-size: 1em;
}

.contact__submit-block {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.button-block {
   width: 50%;
}

.contact__button {
   text-transform: uppercase;
   background: #E8C300;
   border: 2px solid #a18a14;
   border-radius: 5px;
   color: #ffffff;
   font-size: 1em;
   letter-spacing: 1px;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 40px;
   margin: 1% auto;
   transition: all 0.4s;
   overflow: visible;
}

.contact__button:hover {
   background-color: darkseagreen;
   color: red;
   cursor: pointer;
}